body {
  background-color: #004d07;
  text-color: #E6E6E6;
  color: rgb(255, 255, 255);
}

.well {
  color: white;
  background-color: rgba(75, 75, 75, 0.498039);
  border-bottom-color: rgb(238, 238, 238);
}

.well h4 {
  text-color: white;
}

#hit_form {
  font-weight: bold;
  float: left;
  margin-right: 1.5em;
}

#stay_form {
  font-weight: bold;
  float: left;
}

img.card_image {
  margin: 5px;
}

